<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>素质面试</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/layer/3.1.1/theme/default/layer.min.css" rel="stylesheet">
    <style>
        body{
            background: #333;
            color: #fff;
        }
        footer{
            color: aliceblue;
        }
    </style>
    {% block css %} {% endblock %}
</head>
<body>
<div class="container-fluid" style="min-height: 600px">
  {% block content %} {% endblock %}
</div>
<footer style="font-size: 15px ;color: gray!important;width: 100% ;position: absolute; bottom: 0px" class="text-center">
  素质面试 @2020 mao | <a style="color: gray" href="#">github</a>
</footer>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/layer/3.1.1/layer.min.js"></script>
{% block js %} {% endblock %}
</body>
</html>