{% extends "common/layout.html" %}

{% block css %}
    <style>
        .btn-mao {
            outline: 0px !important;
            background: transparent !important;
            color: white !important;
        }

        body {
            padding-top: 15px;
        }

        video {
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
            margin-bottom: 15px;
        }

        textarea {
            background: transparent !important;
            color: white !important;
            height: 420px !important;
            resize: none;
            margin-bottom: 15px;
        }

        input {
            background: transparent !important;
            color: white !important;
        }
    </style>
{% endblock %}

{% block content %}
    <input id="roomid" value="{{ roomid | safe }}" hidden/>
    <div class="row">
        <div class="col-lg-3 text-center">
            <h3>语音/肢体对线</h3>
            <video autoplay id="remote" width="300" height="200"></video>
            <video autoplay muted id="local" width="300" height="200"></video>
            <button id="reload" style="display: none" hidden class="btn btn-info btn-mao">刷新显示</button>
            <button id="stop" style="display: none" hidden class="btn btn-danger btn-mao">结束面试</button>
        </div>
        <div class="col-lg-6">
            <h3>代码对线(未完成)</h3>
            <textarea disabled id="code" class="form-control">麻烦给我的爱人来一杯Mojito

我喜欢阅读她微醺时的眼眸

而我的咖啡 糖不用太多

这世界已经因为她甜得过头

没有跟她笑容一样浓郁的雪茄

就别浪费时间介绍收起来吧

拱廊的壁画 旧城的涂鸦

所有色彩都因为她说不出话

这爱不落幕 忘了心事的国度

你所在之处 孤单都被征服

铁铸的招牌 错落着就像

一封封城市 献给天空的情书

当街灯亮起 Havana漫步

这是世上最美丽的那双人舞

缤纷的老爷车 跟着棕榈摇曳

载着海风私奔漫无目的

古董书摊漫着时光香气

我想 上辈子 是不是就遇过你

喧嚣的海报躺在 慵懒的阁楼阳台

而你是文学家笔下的那一片海

麻烦给我的爱人来一杯Mojito

我喜欢阅读她微醺时的眼眸

而我的咖啡 糖不用太多

这世界已经因为她甜得过头

这爱不落幕 忘了心事的国度

你所在之处 孤单都被征服

铁铸的招牌 错落着就像

一封封城市 献给天空的情书

当街灯亮起 Havana漫步

这是世上最美丽的那双人舞

铁铸的招牌 错落着就像

一封封城市 献给天空的情书

当街灯亮起 Havana漫步

这是世上最美丽的那双人舞
            </textarea>
        </div>
        <div class="col-lg-3">
            <h3>文字对线</h3>
            <textarea id="chat" disabled class="form-control"></textarea>
            <div class="input-group">
                <input id="msg" type="text" class="form-control" placeholder="请输入消息">
                <span class="input-group-btn">
                    <button id="send" class="btn btn-default btn-mao" type="button">发送</button>
                    <button id="clearChat" class="btn btn-default btn-mao" type="button">清除记录</button>
                  </span>
            </div><!-- /input-group -->
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="https://cdn.bootcdn.net/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="{{ getStaticUrl('js/interview.js') }}"></script>

{% endblock %}
